.home-container {
    padding-top: 2rem;
}

.home-name {
    font-size: var(--h1-font-size);
    text-align: center;
}

.home-perfil {
    position: relative;
    justify-self: center;
}

.home-image {
    width: 220px;
}

.home-img {
    position: relative;
    z-index: 10;
}

.home-shadow {
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    position: absolute;
    bottom: -.75rem;
    right: -.75rem;
    border: 4px solid var(--black-color);
    z-index: 5;
    transition: background-color .4s;
}

.home-line {
    position: absolute;
    filter: invert(1);
    width: 50px;
    transition: filter .4s;
    right: -2rem;
    bottom: -.5rem;
}

.home-perfil .geometric-box {
    top: 2.5rem;
    left: -.7rem;
    z-index: 10;
}

.home-social {
    height: max-content;
    position: absolute;
    left: -3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
}

.home-social-link {
    background-color: var(--black-color-light);
    color: var(--white-color);
    font-size: 1.25rem;
    padding: 6px;
    display: grid;
    place-items: center;
    transition: background-color .3s;
}

.home-social-link:hover {
    background-color: var(--black-color);
}

.home-info{
    margin-top: 4rem;
}

.home-description {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.home-description b {
    background: linear-gradient(90deg,
                hsla(0, 1%, 14%, 0.3),    
                hsla(14, 98%, 58%, 0)    
    );
}

.home-scroll {
    display: block;
    width: max-content;
    margin: 0 auto;
}

.home-scroll-text {
    display: none;
}

.home-scroll-box {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 36px;
    height: 36px;
    display: grid;    
    place-items: center;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s;
}

.home-scroll-box i {
    animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}