.services-container {
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
}

.services-card {
    position: relative;
}

.services-content {
    height: 100%;
    background-color: var(--body-color);
    border: 4px solid var(--black-color);
    padding: 6rem 1rem 3rem;
    z-index: 5;
    position: relative;
    transition: background-color .4s, border .4s;
}

.services-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--first-color);
    top: 0;
    left: 0;
    transition: transform .4s;
}

.services-card:hover .services-border {
    transform: translate(.75rem, .75rem);
}

